In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/train.csv')

In [3]:
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [20]:
# replace keyword %20 with space or split 
# split text to find if any words within keyword list
    # if in keyword list, and keyword cell is NaN, fill keyword with that word
    
# if necessary, use country and state lists to do the same to fill in location values

# split and clean text

# clean out http/www and hashtags.. and emojis?

df[df['keyword'].isnull()]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [37]:
keyword_list = df['keyword'].unique()

In [ ]:
.fillna()

In [6]:
us_states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [11]:
from country_list import countries_for_language

In [12]:
countries = dict(countries_for_language('en'))

In [13]:
countries

{'AF': 'Afghanistan',
 'AX': 'Åland Islands',
 'AL': 'Albania',
 'DZ': 'Algeria',
 'AS': 'American Samoa',
 'AD': 'Andorra',
 'AO': 'Angola',
 'AI': 'Anguilla',
 'AQ': 'Antarctica',
 'AG': 'Antigua & Barbuda',
 'AR': 'Argentina',
 'AM': 'Armenia',
 'AW': 'Aruba',
 'AU': 'Australia',
 'AT': 'Austria',
 'AZ': 'Azerbaijan',
 'BS': 'Bahamas',
 'BH': 'Bahrain',
 'BD': 'Bangladesh',
 'BB': 'Barbados',
 'BY': 'Belarus',
 'BE': 'Belgium',
 'BZ': 'Belize',
 'BJ': 'Benin',
 'BM': 'Bermuda',
 'BT': 'Bhutan',
 'BO': 'Bolivia',
 'BA': 'Bosnia & Herzegovina',
 'BW': 'Botswana',
 'BV': 'Bouvet Island',
 'BR': 'Brazil',
 'IO': 'British Indian Ocean Territory',
 'VG': 'British Virgin Islands',
 'BN': 'Brunei',
 'BG': 'Bulgaria',
 'BF': 'Burkina Faso',
 'BI': 'Burundi',
 'KH': 'Cambodia',
 'CM': 'Cameroon',
 'CA': 'Canada',
 'CV': 'Cape Verde',
 'BQ': 'Caribbean Netherlands',
 'KY': 'Cayman Islands',
 'CF': 'Central African Republic',
 'TD': 'Chad',
 'CL': 'Chile',
 'CN': 'China',
 'CX': 'Christmas Island',
 'CC': 'Cocos (Keeling) Islands',
 'CO': 'Colombia',
 'KM': 'Comoros',
 'CG': 'Congo - Brazzaville',
 'CD': 'Congo - Kinshasa',
 'CK': 'Cook Islands',
 'CR': 'Costa Rica',
 'CI': 'Côte d’Ivoire',
 'HR': 'Croatia',
 'CU': 'Cuba',
 'CW': 'Curaçao',
 'CY': 'Cyprus',
 'CZ': 'Czechia',
 'DK': 'Denmark',
 'DJ': 'Djibouti',
 'DM': 'Dominica',
 'DO': 'Dominican Republic',
 'EC': 'Ecuador',
 'EG': 'Egypt',
 'SV': 'El Salvador',
 'GQ': 'Equatorial Guinea',
 'ER': 'Eritrea',
 'EE': 'Estonia',
 'SZ': 'Eswatini',
 'ET': 'Ethiopia',
 'FK': 'Falkland Islands',
 'FO': 'Faroe Islands',
 'FJ': 'Fiji',
 'FI': 'Finland',
 'FR': 'France',
 'GF': 'French Guiana',
 'PF': 'French Polynesia',
 'TF': 'French Southern Territories',
 'GA': 'Gabon',
 'GM': 'Gambia',
 'GE': 'Georgia',
 'DE': 'Germany',
 'GH': 'Ghana',
 'GI': 'Gibraltar',
 'GR': 'Greece',
 'GL': 'Greenland',
 'GD': 'Grenada',
 'GP': 'Guadeloupe',
 'GU': 'Guam',
 'GT': 'Guatemala',
 'GG': 'Guernsey',
 'GN': 'Guinea',
 'GW': 'Guinea-Bissau',
 'GY': 'Guyana',
 'HT': 'Haiti',
 'HM': 'Heard & McDonald Islands',
 'HN': 'Honduras',
 'HK': 'Hong Kong SAR China',
 'HU': 'Hungary',
 'IS': 'Iceland',
 'IN': 'India',
 'ID': 'Indonesia',
 'IR': 'Iran',
 'IQ': 'Iraq',
 'IE': 'Ireland',
 'IM': 'Isle of Man',
 'IL': 'Israel',
 'IT': 'Italy',
 'JM': 'Jamaica',
 'JP': 'Japan',
 'JE': 'Jersey',
 'JO': 'Jordan',
 'KZ': 'Kazakhstan',
 'KE': 'Kenya',
 'KI': 'Kiribati',
 'KW': 'Kuwait',
 'KG': 'Kyrgyzstan',
 'LA': 'Laos',
 'LV': 'Latvia',
 'LB': 'Lebanon',
 'LS': 'Lesotho',
 'LR': 'Liberia',
 'LY': 'Libya',
 'LI': 'Liechtenstein',
 'LT': 'Lithuania',
 'LU': 'Luxembourg',
 'MO': 'Macao SAR China',
 'MG': 'Madagascar',
 'MW': 'Malawi',
 'MY': 'Malaysia',
 'MV': 'Maldives',
 'ML': 'Mali',
 'MT': 'Malta',
 'MH': 'Marshall Islands',
 'MQ': 'Martinique',
 'MR': 'Mauritania',
 'MU': 'Mauritius',
 'YT': 'Mayotte',
 'MX': 'Mexico',
 'FM': 'Micronesia',
 'MD': 'Moldova',
 'MC': 'Monaco',
 'MN': 'Mongolia',
 'ME': 'Montenegro',
 'MS': 'Montserrat',
 'MA': 'Morocco',
 'MZ': 'Mozambique',
 'MM': 'Myanmar (Burma)',
 'NA': 'Namibia',
 'NR': 'Nauru',
 'NP': 'Nepal',
 'NL': 'Netherlands',
 'NC': 'New Caledonia',
 'NZ': 'New Zealand',
 'NI': 'Nicaragua',
 'NE': 'Niger',
 'NG': 'Nigeria',
 'NU': 'Niue',
 'NF': 'Norfolk Island',
 'KP': 'North Korea',
 'MK': 'North Macedonia',
 'MP': 'Northern Mariana Islands',
 'NO': 'Norway',
 'OM': 'Oman',
 'PK': 'Pakistan',
 'PW': 'Palau',
 'PS': 'Palestinian Territories',
 'PA': 'Panama',
 'PG': 'Papua New Guinea',
 'PY': 'Paraguay',
 'PE': 'Peru',
 'PH': 'Philippines',
 'PN': 'Pitcairn Islands',
 'PL': 'Poland',
 'PT': 'Portugal',
 'PR': 'Puerto Rico',
 'QA': 'Qatar',
 'RE': 'Réunion',
 'RO': 'Romania',
 'RU': 'Russia',
 'RW': 'Rwanda',
 'WS': 'Samoa',
 'SM': 'San Marino',
 'ST': 'São Tomé & Príncipe',
 'SA': 'Saudi Arabia',
 'SN': 'Senegal',
 'RS': 'Serbia',
 'SC': 'Seychelles',
 'SL': 'Sierra Leone',
 'SG': 'Singapore',
 'SX': 'Sint Maarten',
 'SK': 'Slovakia',
 'SI': 'Slovenia',
 'SB': 'Solomon Islands',
 'SO': 'Somalia',
 'ZA': 'South Africa',
 'GS': 'South Georgia & South Sandwich Islands',
 'KR': 'South Korea',
 'SS': 'South Sudan',
 'ES': 'Spain',
 'LK': 'Sri Lanka',
 'BL': 'St. Barthélemy',
 'SH': 'St. Helena',
 'KN': 'St. Kitts & Nevis',
 'LC': 'St. Lucia',
 'MF': 'St. Martin',
 'PM': 'St. Pierre & Miquelon',
 'VC': 'St. Vincent & Grenadines',
 'SD': 'Sudan',
 'SR': 'Suriname',
 'SJ': 'Svalbard & Jan Mayen',
 'SE': 'Sweden',
 'CH': 'Switzerland',
 'SY': 'Syria',
 'TW': 'Taiwan',
 'TJ': 'Tajikistan',
 'TZ': 'Tanzania',
 'TH': 'Thailand',
 'TL': 'Timor-Leste',
 'TG': 'Togo',
 'TK': 'Tokelau',
 'TO': 'Tonga',
 'TT': 'Trinidad & Tobago',
 'TN': 'Tunisia',
 'TR': 'Turkey',
 'TM': 'Turkmenistan',
 'TC': 'Turks & Caicos Islands',
 'TV': 'Tuvalu',
 'UM': 'U.S. Outlying Islands',
 'VI': 'U.S. Virgin Islands',
 'UG': 'Uganda',
 'UA': 'Ukraine',
 'AE': 'United Arab Emirates',
 'GB': 'United Kingdom',
 'US': 'United States',
 'UY': 'Uruguay',
 'UZ': 'Uzbekistan',
 'VU': 'Vanuatu',
 'VA': 'Vatican City',
 'VE': 'Venezuela',
 'VN': 'Vietnam',
 'WF': 'Wallis & Futuna',
 'EH': 'Western Sahara',
 'YE': 'Yemen',
 'ZM': 'Zambia',
 'ZW': 'Zimbabwe'}

In [15]:
from spellchecker import SpellChecker

In [16]:
spell = SpellChecker()

In [17]:
spell.correction('corect')

'correct'

In [24]:
import unicodedata
import string
import re
from nltk.util import ngrams
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem.snowball import  SnowballStemmer

In [27]:
sw = stopwords.words('english')
pt = string.punctuation
stemmer = SnowballStemmer('english')

In [30]:
for tweet in df['text']:
    print(tweet.lower())
    break

our deeds are the reason of this #earthquake may allah forgive us all

In [73]:
doc = word_tokenize(df['text'][7610].lower())
doc = [token for token in doc if token not in sw and token not in pt]
# doc = [stemmer.stem(token) for token in doc] # don't use, it takes the 'e' off 'earthquake'

In [74]:
doc

['m1.94',
 '01:04',
 'utc',
 '5km',
 'volcano',
 'hawaii',
 'http',
 '//t.co/zdtoyd8ebj']

In [ ]:
extra_stopwords =

In [51]:
# print('Canada' in countries.values())

True

In [72]:
for word in doc:
    print(spell.correction(word))

aha
south
tampa
getting
flooded
hah
wait
second
live
south
tampa
gon
na
gon
na
fuck
flooding